<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>650579800598-s005ig1i32dv0366a9l5kv72lp7uqpn4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.650579800598-s005ig1i32dv0366a9l5kv72lp7uqpn4</string>
	<key>API_KEY</key>
	<string>AIzaSyAeiTebfs0sJ0UckC3EVs4aSntnx9cjvNw</string>
	<key>GCM_SENDER_ID</key>
	<string>650579800598</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.warunak.NIBM-Events</string>
	<key>PROJECT_ID</key>
	<string>ios-nibm</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-nibm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:650579800598:ios:48b79cdb48717c1c923b37</string>
	<key>DATABASE_URL</key>
	<string>https://ios-nibm.firebaseio.com</string>
</dict>
</plist>